a {
    color: rgb(255, 70, 70);
}

#home {
    background-image: url('../resources/x-neon-sign.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    overflow-x: hidden;
}

#logo-container {
    display: flex;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
}

#home-logo {
    max-width: 60vw;
    background-color: black;
}

#hero-container {
    display: flex;
    flex-direction: column;
    height: inherit;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    padding: 0% 10%;
    text-align: center;
    user-select: none;
}

#hero-button {
    width: 250px;
    height: 75px;
    font-size: 24px;
    border-radius: 40px;
    color: white;
    border: 0;
    background-color: red;
    transition: 200ms;
    margin-bottom: 500px;
}
#hero-button:hover {
    background-color: white;
    color: red;
    box-shadow: 5px 5px red;
}
#hero-button:active {
    box-shadow: none;
}

#info-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
    padding-bottom: 20px;
}
#info-heading {
    font-size: 2rem;
}
#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    height: 400px;
}
.footer-heading {
    font-size: 20px;
    margin: 0;
}
.footer-section {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.social-icon {
    max-width: 25px;
    margin-right: 20px;
    margin-top: 20px;
}
#license-line {
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
    #home {
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        overflow-x: hidden;
    }
    #home-logo {
        max-width: 70vw;
    }
    #hero-container {
        padding: 0% 5%;
        font-size: 5vw;
    }
    #logo-container {
        justify-content: flex-start;
    }
    #hero-button {
        width: 150px;
        height: 50px;
        font-size: 16px;
        border-radius: 30px;
    }
    #hero-button:hover {
        box-shadow: 3px 3px red;
    }
    .footer-section {
        width: 150px;
    }
    #footer {
        padding: 5%;
        background-color: black;
    }
    #license-line {
        background-color: black;
        font-size: 14px;
        width: 100%;
        padding: 5% 20%;
    }
}